[Unit]
Description=Run Web-city data update monthly

[Timer]
OnCalendar=monthly
Persistent=true
RandomizedDelaySec=30min
Unit=web-city-monthly-update.service

[Install]
WantedBy=timers.target
